#<!-- BEGIN exporter_node -->
[supervisord]
nodaemon=true
[program:exporter_node]
environment=HOME="/usr/bin/"
command=/etc/prometheus/exporters/bin/exporter_node --collector.filesystem.ignored-mount-points="^/(sys|proc|dev|host|etc)($$|/)" --web.max-requests=6 --web.listen-address="{{ exporter_node_url | default('172.22.1.1:9101') }}" {{ exporter_node_options | default('--web.disable-exporter-metrics  --collector.zoneinfo --collector.processes  --collector.tcpstat --collector.conntrack --collector.qdisc') }}
autostart=true
autorestart=true
startretries=300
stderr_logfile=/var/log/exporter_node.err
stdout_logfile=/var/log/exporter_node.log
#<!-- END exporter_node -->