version: '2.0'

services:
  nginx:
    image: "{{ docker_image_nginx_exporter_proxy | default('registry.gitlab.com/devops_containers/dockers/nginx_proxy_exporters:latest') }}"
    restart: always
    ports:
      - "{{ exporter_node_port | default('9100') }}:9100"
      - "{{ exporter_cadvisor_port | default('9325')}}:9325"
      - "{{ exporter_mysql_port | default('9104')}}:9104"
      - "{{ exporter_postgresql_port | default('9187')}}:9187"
      - "{{ exporter_pgbouncer_port | default('9127')}}:9127"
      - "{{ exporter_elasticsearch_port | default('9114')}}:9114"
      - "{{ exporter_rabbitmq_port | default('9419')}}:9419"
      - "{{ exporter_haproxy_mysql_port | default('29101')}}:29101"
      - "{{ exporter_haproxy_postgresql_port | default('29102')}}:29102"
      - "{{ exporter_nginx_port | default('9113')}}:9113"
      - "{{ exporter_nginx_vts_port | default('9913')}}:9913"
      - "{{ exporter_squid_port | default('9301')}}:9301"
      - "{{ exporter_redis_port | default('9121')}}:9121"
    environment:
      EXPORTERS_SCRAPE_ALLOW_NET: "{{ exporter_scrape_allow_hosts }}"
      EXPORTER_NODE_URL: "{{ exporter_node_url | default('172.30.0.11:9100') }}"
      EXPORTER_CADVISOR_URL: "{{ exporter_cadvisor_url | default('172.30.0.12:8080') }}"
      EXPORTER_MYSQL_URL: "{{ exporter_mysql_url | default('172.30.0.13:9104') }}"
      EXPORTER_POSTGRESQL_URL: "{{ exporter_postgresql_url | default('172.30.0.14:9187') }}"
      EXPORTER_PGBOUNCER_URL: "{{ exporter_pgbouncer_url | default('172.30.0.15:9127') }}"
      EXPORTER_ELASTICSEARCH_URL: "{{ exporter_elasticsearch_url | default('172.30.0.16:9114') }}"
      EXPORTER_RABBITMQ_URL: "{{ exporter_rabbitmq_url | default('172.30.0.17:9419') }}"
      EXPORTER_HAPROXY_MYSQL_URL: "{{ exporter_haproxy_mysql_url | default('172.30.0.18:9101') }}"
      EXPORTER_HAPROXY_POSTGRESQL_URL: "{{ exporter_haproxy_postgresql_url | default('172.30.0.19:9101') }}"
      EXPORTER_NGINX_URL: "{{ exporter_nginx_url | default('172.30.0.20:9113') }}"
      EXPORTER_NGINX_VTS_URL: "{{ exporter_nginx_vts_url | default('172.30.0.21:9913') }}"
      EXPORTER_SQUID_URL: "{{ exporter_squid_url | default('172.30.0.22:9301') }}"
      EXPORTER_REDIS_URL: "{{ exporter_redis_url | default('172.30.0.23:9121') }}"
    mem_limit: 256M
    networks:
      exporters-network:
        ipv4_address: 172.30.0.10
        aliases:
          - nginx-expoter

  exporter_mysql:
    image: "{{ docker_image_exporter_mysql | default('registry.gitlab.com/devops_containers/dockers/exporter_mysql:0.13.0') }}"
    volumes:
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped
    mem_limit: 128M
    environment:
      DATA_SOURCE_NAME: "{{ exporter_mysql_user | default('exporter') }}:{{ exporter_mysql_password | default('kdjsbdbbmmHdhshdhsdsd') }}@({{ exporter_mysql_conn_url | default('127.0.0.1:3306') }})/"
    networks:
      exporters-network:
        ipv4_address: 172.30.0.13
        aliases:
          - mysql-exporter
    labels:
      org.label-schema.group: "monitoring"

  exporter_elasticsearch:
    image: "{{ docker_image_exporter_elasticsearch | default('registry.gitlab.com/devops_containers/dockers/exporter_elasticsearch:1.2.1') }}"
    environment:
      ES_URI: "{{ exporter_elasticsearch_es_uri | default('http://svc-elasticsearch-lb.es-standalone:9200') }}"
      WEB_TELEMETRY_PATH: "/metrics"
      WEB_LISTEN_ADDRESS: ":9114"
      ES_SNAPSHOTS: "true"
      ES_SHARDS: "true"
      ES_CLUSTER_SETTINGS: "true"
      ES_INDICES_SETTINGS: "false"
      ES_SSL_SKIP_VERIFY: "true"
      ES_CLUSTERINFO_INTERVAL: "5m"
    networks:
      exporters-network:
        ipv4_address: 172.30.0.16
        aliases:
          - elasticsearch-exporter

  exporter_rabbitmq:
    image: "{{ docker_image_exporter_rabbitmq | default('registry.gitlab.com/devops_containers/dockers/exporter_rabbitmq:1.0.0-RC8') }}"
    environment:
      RABBIT_URL: "{{ exporter_rabbitmq_uri | default('http://127.0.0.1:15672') }}"
      RABBIT_USER: "{{ exporter_rabbitmq_user | default('human') }}"
      RABBIT_PASSWORD: "{{ exporter_rabbitmq_password | default('Superpassword') }}"
      PUBLISH_ADDR: ""
      PUBLISH_PORT: "{{ exporter_rabbitmq_publish_port | default('9419') }}"
      RABBIT_EXPORTERS: "{{ exporter_rabbitmq_exporters | default('connections,shovel,federation,exchange,node,queue,memory') }}"
      RABBIT_TIMEOUT: "{{ exporter_rabbitmq_timeouts | default('25') }}"
      MAX_QUEUES: "{{ exporter_rabbitmq_max_queues | default('0') }}"
      SKIP_QUEUES: "{{ exporter_rabbitmq_skip_queues | default('RPC_.*') }}"
      RABBIT_CAPABILITIES: "{{ exporter_rabbitmq_capabilities | default('bert,no_sort') }}"
    networks:
      exporters-network:
        ipv4_address: 172.30.0.17
        aliases:
          - rabbitmq-exporter

  exporter_nginx:
    image: "{{ docker_image_exporter_nginx | default('registry.gitlab.com/devops_containers/dockers/exporter_nginx:latest') }}"
    environment:
      SCRAPE_URI: "{{ exporter_nginx_uri | default('http://10.28.0.1:7070/nginx_status') }}"
      NGINX_RETRIES: "10"
      TELEMETRY_PATH: "/metrics"
    networks:
      exporters-network:
        ipv4_address: 172.30.0.20
        aliases:
          - nginx-exporter

  exporter_nginx_vts:
    image: "{{ docker_image_exporter_nginx | default('registry.gitlab.com/devops_containers/dockers/exporter_nginx_vts:latest') }}"
    environment:
      NGINX_STATUS: "{{ exporter_nginx_uri | default('http://10.28.0.1:7070/vts_status/format/json') }}"
      METRICS_ADDR: ":9913"
      METRICS_ENDPOINT: "/metrics"
      METRICS_NS: "nginx"
    networks:
      exporters-network:
        ipv4_address: 172.30.0.21
        aliases:
          - nginx-vts-exporter

  exporter_squid:
    image: "{{ docker_image_exporter_squid | default('registry.gitlab.com/devops_containers/dockers/exporter_squid:latest') }}"
    environment:
      SQUID_HOSTNAME: "{{ exporter_squid_conn_host | default('127.0.0.1') }}"
      SQUID_PORT: "{{ exporter_squid_conn_port | default('3128') }}"
      SQUID_EXPORTER_LISTEN: ":{{ exporter_squid_port | default('9301') }}"
    networks:
      exporters-network:
        ipv4_address: 172.30.0.22
        aliases:
          - squid-exporter

  exporter_redis:
    image: "{{ docker_image_exporter_redis | default('registry.gitlab.com/devops_containers/dockers/exporter_nginx:latest') }}"
    environment:
      REDIS_ADDR: "{{ exporter_redis_uri | default('redis://10.28.0.1:6379') }}"
      TELEMETRY_PATH: "/metrics"
      REDIS_EXPORTER_CONNECTION_TIMEOUT: "{{ exporter_redis_connection_timeout | default('15') }}"
      REDIS_EXPORTER_WEB_LISTEN_ADDRESS: "0.0.0.0:9121"
    networks:
      exporters-network:
        ipv4_address: 172.30.0.20
        aliases:
          - redis-exporter

networks:
  exporters-network:
    ipam:
      config:
        - subnet: 172.30.0.0/24