#!/usr/bin/env bash
#./manage.sh --action=start --address=10.0.0.3 --exporters=node,cadvisor,heplify_server,mysql,postgresql,pgbouncer,elasticsearch,haproxy_mysql,haproxy_postgresql,nginx,nginx_vts,squid --enviroment=prod --consul_url=https://consulkkkkdddd.linux2be.com --consul_token=token

port_exporter_node="{{ exporter_node_port | default('9100') }}"
port_exporter_cadvisor="{{ exporter_cadvisor_port | default('9325') }}"
port_exporter_heplify_server="{{ exporter_heplify_server_port | default('9096') }}"
port_exporter_mysql="{{ exporter_mysql_port | default('9104') }}"
port_exporter_postgresql="{{ exporter_postgresql_port | default('9187') }}"
port_exporter_pgbouncer="{{ exporter_pgbouncer_port | default('9127') }}"
port_exporter_elasticsearch="{{ exporter_elasticsearch_port | default('9114') }}"
port_exporter_rabbitmq="{{ exporter_rabbitmq_port | default('9419') }}"
port_exporter_haproxy_mysql="{{ exporter_haproxy_mysql_port | default('29101') }}"
port_exporter_haproxy_postgresql="{{ exporter_haproxy_postgresql_port | default('29102') }}"
port_exporter_nginx="{{ exporter_nginx_port | default('9113') }}"
port_exporter_nginx_vts="{{ exporter_nginx_vts_port | default('9913') }}"
port_exporter_squid="{{ exporter_squid_port | default('9301') }}"

for i in "$@"
do
case $i in
    --action=*) # action=start,stop,restart
    ACTION="${i#*=}"
    shift # past argument=value
    ;;
    --address=*) # address=10.0.0.3
    ADDRESS="${i#*=}"
    shift # past argument=value
    ;;
    --exporters=*) # exporters=node,cadvisor,heplify_server,mysql,postgresql,pgbouncer,elasticsearch,haproxy_mysql,haproxy_postgresql,nginx,nginx_vts
    EXPORTERS="${i#*=}"
    shift # past argument=value
    ;;
    --enviroment=*) # enviroment=prod
    ENVIROMENT="${i#*=}"
    shift # past argument=value
    ;;
    --consul_url=*) # consul_url=https://consulkkkkdddd.linux2be.com
    CONSUL_URL="${i#*=}"
    shift # past argument=value
    ;;
    --consul_token=*) # consul_token=token
    CONSUL_TOKEN="${i#*=}"
    shift # past argument=value
    ;;
    --default)
    DEFAULT=YES
    shift 
    ;;
    *)
          # unknown option
    ;;
esac
done

precheck(){
    if  docker info 2>&1 >> /dev/null ;then
        if [[ ! -f "/usr/local/bin/docker-compose" ]];then
            curl -L "https://github.com/docker/compose/releases/download/{{ version_package_docker_compose | default('1.29.2') }}/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
            chmod +x /usr/local/bin/docker-compose
        else
            echo "ok. Docker-compose already installed"
        fi
    else
        echo "Docker not installed. Skip docker-compose install"
    fi
}


exporters_start(){
    
    docker-compose pull
    docker-compose stop nginx && docker-compose rm --force nginx || (echo "skip")
    docker-compose up -d
    supervisorctl reread
    supervisorctl update
    consul_register

}

exporters_stop(){
    docker-compose down --remove-orphans || (echo "not running")
    consul_deregister
}

consul_register(){
    
for exporter in $(echo "${EXPORTERS:-node}" | tr -s "," " ");do
    port_exporter=$(echo "port_exporter_$exporter");
    echo "Exec /opt/bin/consul-service --action=register  --enviroment=${ENVIROMENT} --name=exporter_${exporter} --address=${ADDRESS} --port=${!port_exporter} --tags=prometheus,exporter_${exporter} --consul_url=${CONSUL_URL} --consul_token=${CONSUL_TOKEN}"
    /opt/bin/consul-service --action=register  --enviroment=${ENVIROMENT} --name=exporter_${exporter} --address=${ADDRESS} --port=${!port_exporter} --tags=prometheus,exporter_${exporter} --consul_url=${CONSUL_URL} --consul_token=${CONSUL_TOKEN};
done

}
consul_deregister(){

for exporter in $(echo "${EXPORTERS:-node}" | tr -s "," " ");do
    echo "deregister exporter_${exporter}";
    port_exporter=$(echo "port_exporter_$exporter");
    /opt/bin/consul-service --action=deregister  --enviroment=${ENVIROMENT} --name=exporter_${exporter} --address=${ADDRESS} --port=${!port_exporter} --tags=prometheus,exporter_${exporter} --consul_url=${CONSUL_URL} --consul_token=${CONSUL_TOKEN};
done

}


main(){
    if [[ "${ACTION}" == "start" ]];then
        exporters_start
    fi
    if [[ "${ACTION}" == "stop" ]];then
        exporters_stop
    fi
    if [[ "${ACTION}" == "restart" ]];then
        exporters_stop;sleep 3;exporters_start
    fi
    if [[ "${ACTION}" == "" ]];then
        echo "Arg --action= not valid"
        exit 1
    fi
}

main