#!/usr/bin/env bash
#./monitoring_manage.sh --exporter_action=start --exporter_address=10.50.0.119 --exporter_port=9419 --exporter_name=rabbitmq --exporter_environment=prod --consul_url=https://consulkkkkdddd.linux2be.com --consul_token=token --webhook_url="https://api.telegram.org/bot1801387352sds:dsdsd25T5HKJtmjBYNvh74/sendMessage?chat_id=-1001451426980"


for i in "$@"
do
case $i in
    --exporter_action=*) # exporter_action=start,stop,restart,deregister,register
    ACTION="${i#*=}"
    shift # past argument=value
    ;;
    --exporter_address=*) # exporter_address=10.50.0.119
    EXPORTER_ADDRESS="${i#*=}"
    shift # past argument=value
    ;;
    --exporter_port=*) # exporter_port=9419
    EXPORTER_PORT="${i#*=}"
    shift # past argument=value
    ;;
    --exporter_name=*) # exporter_name=rabbitmq
    EXPORTER_NAME="${i#*=}"
    shift # past argument=value
    ;;
    --exporter_environment=*) # exporter_environment=prod
    ENVIRONMENT="${i#*=}"
    shift # past argument=value
    ;;
    --consul_url=*) # consul_url=https://consulkkkkdddd.linux2be.com
    CONSUL_URL="${i#*=}"
    shift # past argument=value
    ;;
    --consul_token=*) # consul_token=token
    CONSUL_TOKEN="${i#*=}"
    shift # past argument=value
    ;;
    --webhook_url=*) # webhook_url=token
    WEBHOOK_URL="${i#*=}"
    shift # past argument=value
    ;;
    --default)
    DEFAULT=YES
    shift 
    ;;
    *)
          # unknown option
    ;;
esac
done

if [[ -z "${EXPORTER_PORT}" ]] ;then 
    
    if [[ "${EXPORTER_NAME}" == "node" ]];then
        EXPORTER_PORT="9100"
    fi
    if [[ "${EXPORTER_NAME}" == "cadvisor" ]];then
        EXPORTER_PORT="9325"
    fi
    if [[ "${EXPORTER_NAME}" == "heplify_server" ]];then
        EXPORTER_PORT="9096"
    fi
    if [[ "${EXPORTER_NAME}" == "mysql" ]];then
        EXPORTER_PORT="9104"
    fi
    if [[ "${EXPORTER_NAME}" == "postgresql" ]];then
        EXPORTER_PORT="9187"
    fi
    if [[ "${EXPORTER_NAME}" == "pgbouncer" ]];then
        EXPORTER_PORT="9127"
    fi
    if [[ "${EXPORTER_NAME}" == "elasticsearch" ]];then
        EXPORTER_PORT="9114"
    fi
    if [[ "${EXPORTER_NAME}" == "rabbitmq" ]];then
        EXPORTER_PORT="9419"
    fi

    if [[ "${EXPORTER_NAME}" == "haproxy_mysql" ]];then
        EXPORTER_PORT="29101"
    fi
    if [[ "${EXPORTER_NAME}" == "haproxy_postgresql" ]];then
        EXPORTER_PORT="29102"
    fi
    if [[ "${EXPORTER_NAME}" == "nginx" ]];then
        EXPORTER_PORT="9113"
    fi
    if [[ "${EXPORTER_NAME}" == "nginx_vts" ]];then
        EXPORTER_PORT="9913"
    fi        
    if [[ "${EXPORTER_NAME}" == "squid" ]];then
        EXPORTER_PORT="9301"
    fi       
    echo "Port for exporter ${EXPORTER_NAME} empty. Set default ${EXPORTER_PORT}"
fi

if [[ -z "${EXPORTER_PORT}" ]] ;then 
    local message="Monitoring_manage. Port for export ${EXPORTER_NAME} not founded.Exit. Action=${ACTION} exporter_${EXPORTER_NAME}. Scrape_address=${EXPORTER_SHCHEME:-http}://${EXPORTER_ADDRESS}:${EXPORTER_PORT}. Consul_server=${CONSUL_URL}"
    echo "${message}"
    if [[ -n ${WEBHOOK_URL} ]] ; then 
        send_message_chat "${message}" "${message}"
    fi
    exit 0
fi

precheck(){
    if  docker info 2>&1 >> /dev/null ;then
        if [[ ! -f "/usr/local/bin/docker-compose" ]];then
            curl -L "https://github.com/docker/compose/releases/download/{{ version_package_docker_compose | default('1.29.2') }}/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
            chmod +x /usr/local/bin/docker-compose
        else
            echo "ok. Docker-compose already installed"
        fi
    else
        echo "Docker not installed. Skip docker-compose install"
    fi
}

exporter_start () {
    docker-compose pull
    docker-compose down --remove-orphans
    docker-compose up -d
    supervisorctl reread && supervisorctl update
    supervisorctl start all
}

exporter_stop () {
    if docker  inspect exporters-exporter_${EXPORTER_NAME}-1 2>&1 >> /dev/null ;then
        docker-compose stop exporter_${EXPORTER_NAME}
    fi
    consul_deregister
}


consul_register () {
   echo "$(date) /opt/bin/consul-service --action=register  --environment=${ENVIRONMENT} --name=exporter_${EXPORTER_NAME} --address=${EXPORTER_ADDRESS} --port=${EXPORTER_PORT} --tags=prometheus,exporter_${EXPORTER_NAME}  --consul_url=${CONSUL_URL} --consul_token=${CONSUL_TOKEN}" >> history.log
   /opt/bin/consul-service --action=register  --environment=${ENVIRONMENT} --name=exporter_${EXPORTER_NAME} --address=${EXPORTER_ADDRESS} --port=${EXPORTER_PORT} --tags=prometheus,exporter_${EXPORTER_NAME}  --consul_url=${CONSUL_URL} --consul_token=${CONSUL_TOKEN};
}

consul_deregister(){
   echo "$(date) /opt/bin/consul-service --action=deregister  --environment=${ENVIRONMENT} --name=exporter_${EXPORTER_NAME} --address=${EXPORTER_ADDRESS} --port=${EXPORTER_PORT} --tags=prometheus,exporter_${EXPORTER_NAME}  --consul_url=${CONSUL_URL} --consul_token=${CONSUL_TOKEN}" >> history.log
   /opt/bin/consul-service --action=deregister  --environment=${ENVIRONMENT} --name=exporter_${EXPORTER_NAME} --address=${EXPORTER_ADDRESS} --port=${EXPORTER_PORT} --tags=prometheus,exporter_${EXPORTER_NAME}  --consul_url=${CONSUL_URL} --consul_token=${CONSUL_TOKEN};
}


exporter_deregister () {
    echo "Empty"
}

send_message_chat() {

TEXT_HEADER=$1
TEXT_ATTACHMENT=$2

if [[ "${TEXT_ATTACHMENT}" == "" ]];then
    TEXT_ATTACHMENT="No additinal info"
fi
DATE_EXEC="$(date "+%d %b %Y %H:%M")"

check_telegram=$(echo "${WEBHOOK_URL}" | grep -q telegram ; echo $? )
if [[ "${check_telegram}" == "0" ]]
then
    echo "Send to Telegram"
    export url_encode=$(echo -ne "${TEXT_ATTACHMENT}" | hexdump -v -e '/1 "%02x"' | sed 's/\(..\)/%\1/g')
    echo "send ${WEBHOOK_URL}&text=${url_encode}"
    curl -s -X GET "${WEBHOOK_URL}&text=${url_encode}"  > /dev/null
else 
    echo "Send to rocket_chat(slack)";
    curl -q -X POST --connect-timeout 3 -H 'Content-Type: application/json' --data "{\"text\":\"${TEXT_HEADER}\", \"attachments\": [{\"title\": \"Additional_info\",\"color\": \"#A52A2A\",\"text\": \"${TEXT_ATTACHMENT}\"}]}" ${CHAT_URL} > /dev/null
fi

}


main(){
    if [[ "${ACTION}" == "start" ]];then
        exporter_start
        consul_register
    fi
    if [[ "${ACTION}" == "stop" ]];then
        exporter_stop
    fi
    if [[ "${ACTION}" == "register" ]];then
        consul_register
    fi
    if [[ "${ACTION}" == "deregister" ]];then
        exporter_deregister
    fi
    if [[ "${ACTION}" == "restart" ]];then
        exporter_stop
        exporter_start
    fi
    if [[ "${ACTION}" == "" ]];then
        echo "Arg --action= not valid"
        exit 1
    fi

    local message="Monitoring_manage. Action=${ACTION} exporter_${EXPORTER_NAME}. Scrape_address=${EXPORTER_SHCHEME:-http}://${EXPORTER_ADDRESS}:${EXPORTER_PORT}. Consul_server=${CONSUL_URL}"
    echo "${message}"
    if [[ -n ${WEBHOOK_URL} ]] ; then 
        send_message_chat "${message}" "${message}"
    fi
    
}

main