version: '2.0'

services:
  nginx:
    image: "{{ docker_image_nginx_exporter_proxy | default('registry.gitlab.com/devops_containers/dockers/nginx_proxy_exporters:latest') }}"
    ports:
      - "{{ exporter_heplify_server_port }}:9096"
    environment:
      EXPORTERS_SCRAPE_ALLOW_NET: "{{ exporter_scrape_allow_hosts }}"
    restart: unless-stopped
    mem_limit: 128M
    networks:
      net_heplify_server:
        aliases:
          - nginx-expoter

  heplify-server:
    image: "{{ docker_image_exporter_heplify_server | default('registry.gitlab.com/devops_containers/dockers/heplify-server:latest') }}"
    container_name: heplify-server
    ports:
      - "127.0.0.1:9060:9060"
      - "127.0.0.1:9060:9060/udp"
    command:
      - './heplify-server'
    environment:
      HEPLIFYSERVER_HEPADDR: "{{ heplifyserver_hepaddr }}"
      HEPLIFYSERVER_HEPTLSADDR: "{{ heplifyserver_heptlsaddr }}"
      HEPLIFYSERVER_HEPTCPADDR: ""
      HEPLIFYSERVER_DBSHEMA: "{{heplifyserver_dbshema }}"
      HEPLIFYSERVER_DBDRIVER: "{{ heplifyserver_dbdriver }}"
      HEPLIFYSERVER_DBADDR: "{{ heplifyserver_dbaddr }}"
      HEPLIFYSERVER_DBUSER: "{{ heplifyserver_dbuser }}"
      HEPLIFYSERVER_DBPASS: "{{ heplifyserver_dbpass }}"
      HEPLIFYSERVER_DBDATATABLE: "{{ heplifyserver_dbdatatable }}"
      HEPLIFYSERVER_DBCONFTABLE: "{{ heplifyserver_dbconftable }}"
      HEPLIFYSERVER_DBROTATE: "{{ heplifyserver_dbrotate }}"
      HEPLIFYSERVER_DBDROPDAYS: "{{ heplifyserver_dbdropdays }}"
      HEPLIFYSERVER_LOGLVL: "{{ heplifyserver_loglvl }}"
      HEPLIFYSERVER_LOGSTD: "{{ heplifyserver_logstd }}"
      HEPLIFYSERVER_PROMADDR: "{{ heplifyserver_promaddr }}"
      HEPLIFYSERVER_PROMTARGETIP: "{{ heplifyserver_promtargetip }}"
      HEPLIFYSERVER_PROMTARGETNAME: "{{ heplifyserver_promtargetname }}"
      HEPLIFYSERVER_DEDUP: "{{ heplifyserver_dedup }}"
      HEPLIFYSERVER_LOKIURL: "{{ heplifyserver_lokiurl }}"
      HEPLIFYSERVER_LOKITIMER: "{{ heplifyserver_lokitimer }}"
      HEPLIFYSERVER_ALEGIDS: "X-CID"
      HEPLIFYSERVER_CUSTOMHEADER: "X-CID"
    restart: unless-stopped
    mem_limit: 256M
    networks:
      net_heplify_server:
        aliases:
          - heplify-server-exporter


networks:
  net_heplify_server: