[Unit]
Description=Captures packets from wire and sends them to local heplify-server
After=network.target

[Service]
WorkingDirectory=/opt/heplify
ExecStart=/opt/heplify/heplify -i any -hs {{ heplifyserver_listen_addr }} -m SIPRTCP -hi {{ heplify_client_node_id }} -hp {{ heplify_client_node_pw }} -dim OPTIONS,NOTIFY
ExecStop=/bin/kill ${MAINPID}
Restart=on-failure
RestartSec=10s
Type=simple
MemoryAccounting=true
MemoryMax={{ rsyslog_memory_max | default('512M') }}
[Install]
WantedBy=multi-user.target
